/* Body */
body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

/* menu hizalama */

.menu{
  list-style: none;
  border: 10px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.menu li{
  display: inline;
  font-size: 24px;  
}
/* nav-bar oluşturma */
/* linklerin altındaki çizgileri kaldırma */
/* Sırasız Liste işaretlerini ve boşluklarını kaldırma */
a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
  }
  
a:hover {
    text-decoration: none;
  }
  
a:active {
    text-decoration: none;
  }

ul {
    padding-left: 0;
    list-style-type: none;
    margin-left: 0px;
    padding: 0;
}

/* Marka Adı */
#brand1 {
    font-family: 'Source Serif Pro', serif;
    font-size: 60px;
    color: #5f5f5f;
}
/* fontların düzenlenmesi */
h2{
  font-size: 40px;
  color: #5f5f5f;
}
h3{
  font-size: 30px;
  color: #5f5f5f;
}
/* Metin görünümleri ve hizalanması */
p{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 20px;
  margin-left: 25%;
  margin-right: 25%;
}
ol {
  padding-left: 0;
  list-style-type: none;
  margin-left: 0px;
  padding: 0;
  font-size: 20px;
}

h4{
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 41px;
  margin-left: 25%;
  margin-right: 25%;
  color: #5f5f5f;
}

/* chatbox ayarları iletişim bölümü */
:root {
  --text-color: rgb(107, 114, 128);
  --title-color: rgb(55, 65, 81);
  --border-color: rgb(182, 197, 227);
}

@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

.chatbox {
  position: fixed;
  width: 250px;
  right: 20px;
  bottom: 0;
  background-color: lightblue;
  padding-bottom: 10px;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
}

input {
  border: 1px solid var(--text-color);
  border-radius: 3px;
  padding: 5px;
  margin: 25px 10px 0 10px;
}